{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Panier{% endblock %}

{% block body %}
    <div class="custom-body-background-cart">
        <div class="cart-container">
            <h1>Mon Panier</h1>

            {% if app.session.get('cart') %}

                <a href="{{ path('app_clearCart') }}" class="clear-cart">x Vider le panier</a>

                {% for product in products %}
                    <div class="cart-card">
                        <img src="{{ asset('images/product/' ~ product.picture) }}" alt="Images du produit {{ product.name }}"/>
                        <div class="product-details">
                            <h2>{{ product.name }}</h2>
                            <p>Quantité : {{ product.quantity }}</p>
                            <p class="price">{{ product.price }} €</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="cart-summary">
                    <p class="total">Total Panier : <span class="total-price">{{ totalPrice }} €</span></p>
                    <p class="shipping-fee">Frais de Livraison : Offert </p>
                </div>
                <a href="{{ path('app_submitCart') }}" class="checkout-button" id="checkout-button">Valider votre panier</a>
            {% else %}
                <div class="empty-cart">
                    <p>Votre panier est vide</p>
                    <a href="{{ path('app_home') }}">Accéder à nos produits</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if app.request.query.get('orderSuccess') %}
        <script>
            window.onload = function() {
                if (confirm("Votre commande a été validée")) {
                    window.location.href = "{{ path('app_home') }}";
                } else {
                    window.location.href = "{{ path('app_home') }}";
                }
            }
        </script>
    {% endif %}
    
{% endblock %}