{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ product.name }}{% endblock %}

{% block body %}
    <div class="productPage">
        <img src="{{ asset('images/product/' ~ product.picture) }}" alt="Images du produit {{ product.name }}"/>

        <div class="productPageDesc">
            <h1>{{ product.name }}</h1>
            <p class="price">{{ product.price }}€</p>
            <p class="subTitle">Description</p>
            <p class="fullDescription">{{ product.fullDescription }}</p>

            {% if app.session.get('jwt_token') %}
                <form action="{{ path('app_addToCart', { 'id': product.id }) }}" method="post">
                    <label for="quantity">Quantité :</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="99">
                    <button type="submit">Ajouter au panier</button>
                </form>
            {% else %}
                <a href="{{ path("app_login") }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
{% endblock %}